body {
    font-family: 'Roboto', sans-serif;;
}

h1 {
    text-align: center;
}

#calcContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    width: 400px;
    height: 400px;
    margin-left: calc(50% - 200px);
    margin-top: 10%;
    
}

#calcContainer div {
text-align: right;
vertical-align: middle;
line-height: 50px; /* adjust based on div size*/
font-size: 26px;
border-radius: 25px;
}

.display {
    grid-column-start: 1;
    grid-column-end: -1;
    overflow: hidden; /* Prevents numbers from going outside border */
    white-space: nowrap;
    text-align: right !important;
    background-color: #CAC8C8; 
    width: 390px;
}

.calcBtn {
    outline: solid white 1px;
    cursor: pointer;
    padding-top: 3px;
    
}

.calcBtn:hover {
    background-color: aqua;

}

.numBtn {

    background-color: #CAC8C8;
    text-align: center !important;
    vertical-align: middle !important;
    line-height: 50px !important; /* adjust based on div size*/ 
}

.opBtn {
    background-color: #A986E5;
    text-align: center !important;
    vertical-align: middle !important;
    line-height: 50px !important; /* adjust based on div size*/

}

.zeroBtn  {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #CAC8C8; 
    text-align: center !important;
    vertical-align: middle !important;
    line-height: 50px !important; /* adjust based on div size*/
}

#allClear {
    grid-column-start: 1;
    grid-column-end: 3;
}

#period {
    background-color: #CAC8C8; 
}

.displayContainer {
    display: grid;
    outline: solid white 1px;
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: #CAC8C8; 
}
